<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>


<div class="post-wrapper">
    <h1><%= title %></h1>
    
    <p><strong>Date:</strong> <%= date %></p>
    <hr>
    
    <p><%= content %></p>
</div>
<%- include('partials/footer.ejs') %>